.search-container {
    width: 600px;
    height: 50px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    z-index: 1;
    box-shadow: 0 0 5px black;
    }
    
.search-container input[type="text"] {
    height: 30px;
    width: 430px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding-left: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    }
    
.search-container input[type="submit"] {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    padding-right: 10px;
    border: none;
    cursor: pointer;
    background-image: url("img/search.svg");
    background-color: transparent;
    background-size: cover;
    outline: none;
    }
  
.search-container select {
      position: absolute;  /* Absolute positioning */
      right: 60px;  /* Position from the right edge of the text input */
      height: 50px;  /* Set the height of the select to 30px */
      width: 140px;  /* Set the width of the select */
      margin-right: 10px;
  }

.select-container {
    width: 90px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
}

.result-title {
    font-size: 20px;
}

.result-date {
    font-size: 12px;
    color: gray;
}

.result-content {
    font-size: 14px;
}

a.result-title {
    text-decoration: none;
    color: #1a3151;
}

a.result-title:hover {
    text-decoration: underline;
}

a.result-title:visited {
    color: #1D75A3;
}

.card-hover {
    border:none;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
    margin-bottom: 5px;
}

.card-hover:hover {
    border: 1px solid gray;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}