.square {
  width: 30vw;  /* Adjust this value to change the size of the square */
  height: 0;
  padding-bottom: 30vw;  /* This should be the same as width */
  background-color: white;
  background-image: url("img/file-earmark-image.svg");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  border-style: dashed;
  transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
  border-radius: 12px;
}

.square:hover {
  border: 1px dashed black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-search-wrapper {
  margin-bottom: 15%;
}